<% include partials/header %>

<div class="container">
  <article class="blog-whole">
    <div class="blog-item-title">
      <h1><%= blog.title %></h1>
    </div>
    <div class="blog-item-date">
      <span><%= blog.createdTime.toDateString() %></span>
    </div>
    <div class="blog-item-body">
      <p><%= blog.body %></p>
    </div>
  </article>

  <a class="btn btn-primary" href="/blogs/<%= blog._id %>/edit">edit</a>
  <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete</button>
  </form>

</div>

<% include partials/footer %>
